.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    & input {
        width: 100%;
        height: 5rem;
        padding: 0 0.8rem;
        font-size: 1.6rem;
        border-radius: 0.8rem;
        color: var(--neutral-700);
        font-family: 'Poppins', sans-serif;
        border: 1px solid var(--neutral-300);
    }
}

.errorMessage {
    color: #ffffff;
    line-height: 1.25;
    margin-top: 0.4rem;
    border-radius: 0.4rem;
    padding: 0.4rem 0.8rem;
    background-color: #dc143cff;
}
