.tasksContainer {
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    & header {
        position: fixed;
        right: 0;
        left: 0;
        top: 8rem;

        display: flex;
        justify-content: space-between;

        z-index: -9;
        background-color: var(--background);
        padding: 2.4rem 1.4rem 2.4rem 1.2rem;

        & h2 {
            line-height: 1.2;
            padding-right: 4.8rem;
        }
    }

    & ul {
        z-index: -99;
        margin-top: 4rem;
    }
}
