.listContainer {
    list-style: none;
    min-height: 8.5rem;
    padding: 1.6rem 0.8rem;
    box-shadow: 0 1px 0 rgba(179, 185, 190, 0.45);

    display: flex;
    align-items: center;
    gap: 3.2rem;

    & p {
        line-height: 1.2;
    }

    & small {
        display: flex;
        flex-wrap: wrap;
        gap: 0.8rem;
        row-gap: 0;

        & svg {
            width: 1.6rem;
            height: 1.6rem;
        }

        & span {
            font-weight: 500;
            padding: 0 0.8rem;
            margin-top: 0.8rem;
            border-radius: 10rem;
            color: var(--neutral-700);
            background-color: var(--neutral-300);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);

            display: flex;
            align-items: center;
            gap: 0.4rem;
        }
    }

    & button {
        margin-left: auto;
        color: var(--text);
    }
}

.checked {
    opacity: 0.6;
    border-radius: 1.6rem;
    corner-shape: squircle;
    background-color: #ffffff;

    & button {
        color: var(--neutral-700);
    }
}
