.listContainer {
    list-style: none;
    min-height: 8.5rem;
    padding: 1.6rem 0.8rem;
    box-shadow: 0 1px 0 rgba(179, 185, 190, 0.45);

    display: flex;
    align-items: center;
    gap: 3.2rem;

    & input[type='checkbox'] {
        width: 2.4rem;
        height: 2.4rem;
        appearance: none;
        border-radius: 0.4rem;
        border: 1px solid var(--neutral-300);

        transition: all 0.2s;

        &:checked {
            border: none;
            background-color: var(--primary);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check-icon lucide-check"><path d="M20 6 9 17l-5-5"/></svg>');
        }
    }

    & span {
        display: flex;
        gap: 1.6rem;

        & small {
            font-weight: 500;
            padding: 0 0.8rem;
            margin-top: 0.8rem;
            border-radius: 10rem;
            color: var(--neutral-700);
            background-color: var(--neutral-300);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        }
    }

    & button {
        margin-left: auto;
        color: var(--text);
    }
}

.checked {
    opacity: 0.6;
    border-radius: 1.6rem;
    corner-shape: squircle;
    background-color: #ffffff;
}
