.card {
    break-inside: avoid;
    margin-bottom: 1.2rem;
    border-radius: 1.6rem;
    corner-shape: squircle;
    padding: 1.2rem 0.8rem;
    color: var(--neutral-700);
    box-shadow: var(--shadow);
    background-color: var(--primary);

    display: flex;
    justify-content: space-between;
    gap: 0.8rem;

    & > button {
        order: 2;
        min-width: min-content;
        color: var(--neutral-700);
    }
}

.cardBody {
    padding: 0 0.4rem;

    & h3 {
        font-size: 2rem;
        line-height: 1.1;
        word-wrap: break-word;
    }
}

.pressed {
    opacity: 0.75;
    transform: scale(0.95);
}
