.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    border: none;
    font-weight: bold;
    font-size: 1.6rem;
    letter-spacing: 0.02em;
    color: var(--neutral-900);
    box-shadow: var(--shadow);
    text-transform: uppercase;
    background-color: var(--primary);
    font-family: 'Poppins', sans-serif;

    &:disabled {
        filter: brightness(0.7);
    }

    & svg {
        width: 2rem;
        height: 2rem;
        stroke-width: 0.3rem;
    }
}

.primary,
.danger {
    border-radius: 1.6rem;
    corner-shape: squircle;
    padding: 1.6rem 2.4rem;
}

& .danger {
    width: 100%;
    color: #ffffff;
    background-color: #dc143cff;
}

.square {
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 1.6rem;
    corner-shape: squircle;
}

.small {
    width: 2.8rem;
    height: 2.8rem;
    min-width: 2.8rem;
    min-height: 2.8rem;
}

.pressed {
    &:not(:disabled) {
        opacity: 75%;
    }
}

.anchor {
    anchor-name: --card-button;
}
