.dropdownMenu {
    width: 15rem;
    color: var(--text);
    border-radius: 1.6rem;
    corner-shape: squircle;
    padding: 0.8rem 1.2rem;
    background-color: var(--background);
    border: 1px solid var(--neutral-300);

    & svg {
        width: 2rem;
        height: 2rem;
    }

    & li {
        display: flex;
        align-items: center;
        gap: 0.8rem;
    }

    & li:nth-child(1) {
        padding-bottom: 0.8rem;
        border-bottom: 1px solid var(--neutral-300);
    }

    & li:nth-child(2) {
        padding-top: 0.8rem;
    }
}
