.dropdownMenu {
    width: 15rem;
    list-style: none;
    padding: 0 1.2rem;
    border-radius: 1.6rem;
    corner-shape: squircle;
    background-color: var(--background);
    border: 1px solid var(--neutral-300);

    & button {
        width: 100%;
        border: none;
        padding: 1.2rem 0;
        font-size: 1.6rem;
        color: var(--text);
        background-color: transparent;

        display: flex;
        align-items: center;
        gap: 0.8rem;
    }

    & svg {
        width: 2rem;
        height: 2rem;
    }

    & li:nth-child(1) {
        border-bottom: 1px solid var(--neutral-300);
    }
}
