.logoContainer {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    & img {
        width: 3.2rem;
        height: 3.2rem;
    }

    & p {
        display: flex;
        flex-direction: column;

        line-height: 1;
        font-weight: bold;
    }
}
