.checkbox[type='checkbox'] {
    width: 2.4rem;
    height: 2.4rem;
    appearance: none;
    border-radius: 0.4rem;
    border: 1px solid var(--neutral-300);

    transition: all 0.2s;

    &:checked {
        border: none;
        background-color: var(--primary);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check-icon lucide-check"><path d="M20 6 9 17l-5-5"/></svg>');
    }
}