.form {
    padding-top: 2.4rem;

    & button {
        width: 100%;
        margin-top: 2.4rem;
    }

    & footer {
        margin-top: 2.4rem;
    }
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.smallInputsContainer {
    display: flex;
    gap: 1.6rem;
}

.optionsInput {
    position: relative;

    & select {
        position: absolute;
        bottom: 0;
        right: 0;

        border: 1px solid var(--neutral-300);
        border-left: none;
        border-radius: 0 0.8rem 0.8rem 0 !important;

        &:focus-visible {
            outline-offset: 0;
        }
    }
}

.selectInput {
    height: 5rem;
    padding: 0 0.8rem;
    font-size: 1.6rem;
    border-radius: 0.8rem;
    color: var(--neutral-700);
    font-family: 'Poppins', sans-serif;
}
