.appLayout {
    height: 100dvh;

    display: flex;
    flex-direction: column;

    & main {
        width: 100%;
        max-width: 124rem;
        margin: 8rem auto 0;
        flex-grow: 1;
        padding: 2.4rem 1.2rem;

        display: flex;
        flex-direction: column;
    }
}
