.container {
    padding: 2.4rem 1.2rem;
    background-color: #682860;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.navbar {
    max-width: 124rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    & a {
        color: #f8f8ff;
        text-decoration: none;

        &:global(.active) {
            color: var(--primary);
        }
    }

    & svg {
        width: 3.2rem;
        height: 3.2rem;
        vertical-align: middle;
    }
}
