@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    &,
    &.light-mode {
        --background: #f8f8ff;
        --text: #682860;
    }

    &.dark-mode {
        --background: #682860;
        --text: #f8f8ff;
    }

    --primary: #efe576;
    --neutral-300: #b3b9be;
    --neutral-700: #424950;
    --neutral-900: #1a2e0c;

    --shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.25);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;

    color: var(--text);
    background-color: var(--background);
}

a,
button,
input {
    &:focus-visible {
        outline-offset: 1px;
        outline: 4px solid hsl(from var(--primary) h s calc(l - 30));
    }
}
