.taskListsContainer {
    flex-grow: 1;
    position: relative;

    display: flex;
    flex-direction: column;

    & > button {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        & svg {
            width: 2.8rem;
            height: 2.8rem;
        }
    }
}
